<ion-content>


    <!-- <ion-card>
        <center>
            <ion-card-content>
                <ion-grid>
                    <ion-row>
                        <ion-col>
                            <h2>Toggle Theme</h2>
                        </ion-col>
                        <ion-col>
                            <ion-toggle (ionChange)="onClick($event)">
                            </ion-toggle>
                        </ion-col>
                    </ion-row>
                </ion-grid>


            </ion-card-content>
        </center>
    </ion-card> -->

    <ion-grid>
        <ion-row>
            <ion-col class="hicard">
                <ion-card>
                    <ion-card-content>
                        <h1 class="hihead"><b>Hi, I'm Ayush!</b></h1>
                        <!-- <p class="statustext">MS Information Systems - California State University Long Beach - May 2021
                            <br>BE Computer Science Engineering - RTM Nagpur University - June 2018
                            <br>Full-time Dreamer</p> -->
                        <br>
                        <p class="statustext">I'm a full-time <b>dreamer</b>, who loves to <b>build solutions</b> to problems using technology and my <b>creativity</b>.</p>
                        <br>
                        <p class="statustext"><b>Recently graduated (May 2021)</b> from <b>MS in Information Systems</b> program at <b>California State University Long Beach</b> <br> <b>Actively looking for opportunities</b> as a <b>Business Analyst</b> or a <b>PM</b> helping
                            in building solutions.</p>

                        <br>
                        <center>
                            <a href="https://www.facebook.com/AVPikster/" target="_blank" rel="noopener noreferrer">
                                <ion-icon size="large" name="logo-facebook" class="socialicons"></ion-icon>
                            </a>
                            <a href="http://www.twitter.com/AyushWINsider" target="_blank" rel="noopener noreferrer">
                                <ion-icon size="large" name="logo-twitter" class="socialicons"></ion-icon>
                            </a>
                            <a href="http://www.github.com/ayush-vij" target="_blank" rel="noopener noreferrer">
                                <ion-icon size="large" name="logo-github" class="socialicons"></ion-icon>
                            </a>
                            <a href="http://www.linkedin.com/in/vijayush" target="_blank" rel="noopener noreferrer">
                                <ion-icon size="large" name="logo-linkedin" class="socialicons"></ion-icon>
                            </a>
                            <a href="https://www.snapchat.com/add/ayushvij" target="_blank" rel="noopener noreferrer">
                                <ion-icon size="large" name="logo-snapchat" class="socialicons"></ion-icon>
                            </a>
                            <a href="http://www.instagram.com/tthe.chan.chan.man" target="_blank" rel="noopener noreferrer">
                                <ion-icon size="large" name="logo-instagram" class="socialicons"></ion-icon>
                            </a>
                        </center>

                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col class="photocol">
                <ion-card class="photocard">
                    <ion-card-content>
                        <img src="../../assets/me.jpg" alt="" srcset="" class="meimgtag" style="height: 100%; width: 100%;">

                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid>
        <center>
            <ion-row>

                <ion-col style="max-width: 30%; ">
                    <center>
                        <ion-card>
                            <ion-card-content>
                                <center>
                                    <!-- <pre><ion-icon name="compass " size="large "></ion-icon><b style="font-size: larger; ">📌&emsp; Los Angeles, CA</b></pre> -->
                                    <pre><b style="font-size: larger; ">📌&emsp; Los Angeles, CA</b></pre>
                                </center>
                            </ion-card-content>
                        </ion-card>
                    </center>
                </ion-col>
                <ion-col style="max-width: 30%; " (click)="download('../home/resume/AyushVijResume.docx')">
                    <center>
                        <ion-card>
                            <ion-card-content>
                                <center>
                                    <pre><b style="font-size: larger; ">📃&emsp; Download my resume</b></pre>
                                </center>
                            </ion-card-content>
                        </ion-card>
                    </center>
                </ion-col>
                <ion-col style="max-width: 30%; ">
                    <center>
                        <ion-card>
                            <ion-card-content>
                                <center>
                                    <pre><b style="font-size: larger; ">📧&emsp; Email Me!</b></pre>
                                </center>
                            </ion-card-content>
                        </ion-card>
                    </center>
                </ion-col>

            </ion-row>
        </center>
    </ion-grid>

    <center>
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
        <lottie-player src="https://assets4.lottiefiles.com/temp/lf20_fw4v8s.json" background="transparent" speed="1" style="width: 300px; height: 200px;" loop autoplay></lottie-player>
    </center>
    <header role="banner" id="navheader">
        <nav id="navbar-primary" class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="collapse navbar-collapse" id="navbar-primary-collapse">
                    <ul class="nav navbar-nav">
                        <lb><a (click)="scrollToObjectives()" class="navlinks">OBJECTIVES</a></lb>
                        <lb><a (click)="scrollToExperiences()" class="navlinks">EXPERIENCE</a></lb>
                        <lb><a (click)="scrollToPublications()" class="navlinks">PUBLICATIONS</a></lb>
                        <lb><a (click)="scrollToVolunteering()" class="navlinks">VOLUNTEERING</a></lb>
                        <lb><a (click)="scrollToProjects()" class="navlinks">PROJECTS</a></lb>
                        <lb>
                            <a (click)="scrollToCertifications()" class="navlinks"><br>CERTIFICATIONS</a>
                        </lb>
                        <lb><a (click)="scrollToKeywords()" class="navlinks">KEYWORDS</a></lb>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </header>
    <!-- header role="banner" -->
    <br>

    <ion-grid>
        <ion-row>
            <ion-col class="textcol">
                <ion-card id="objectives">
                    <ion-card-content>
                        <p class="obj" style="text-align: center;">"Looking for a challenging role in a reputable organization to utilize my technical, database, and management skills for the growth of the organization as well as to enhance my knowledge about new and emerging trends in the IT
                            sector."
                        </p>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid>
        <ion-row>
            <ion-col>
                <center>
                    <ion-card class="headingcard" id="experiences" style="background-color: white; max-width: 40%;">
                        <ion-card-content>
                            <h1 class="obj" style="text-align: center; color: black;">EXPERIENCE</h1>
                        </ion-card-content>
                    </ion-card>
                </center>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="expcol">
                <ion-card>
                    <ion-card-content>
                        <h3 class="exphead"><b>Center for International Trade and Transportation</b> &nbsp;
                            <a href="https://www.cpie.csulb.edu/center-for-international-trade-and-transportation" target="_blank" rel="noopener noreferrer">
                                <ion-icon size="" name="globe"></ion-icon>
                            </a>
                        </h3>
                        <p><strong>Research and Multimedia Associate</strong> • January 2021 - Present • Long Beach, CA</p>
                        <!-- <p class="statustext">MS Information Systems - California State University Long Beach - May 2021
                                <br>BE Computer Science Engineering - RTM Nagpur University - June 2018
                                <br>Full-time Dreamer</p> -->
                        <br>
                        <p>
                            • Design GANTT Charts and different flowcharts that influenced the roadmap to execute various research programs.<br> • sLed the digital initiatives CITT to amplify outreach by partnering with different stakeholders across different
                            organizations.
                        </p>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col class="cittcol">
                <ion-card style="background-color: white;">
                    <ion-card-content>
                        <img src="../../assets/CITTLOGO.jpg" alt="" srcset="" class="cittimgtag" style="height: 100%; width: 100%;">

                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col class="twcol">
                <ion-card>
                    <ion-card-content>
                        <h3 class="exphead"><b>Khanse Web Media [TheWindowsClub.com]</b> &nbsp;
                            <a href="https://www.TheWindowsClub.com" target="_blank" rel="noopener noreferrer">
                                <ion-icon size="" name="globe"></ion-icon>
                            </a>


                        </h3>
                        <p><strong>Technical Writer and Graphics Designer</strong> • November 2017 - Present • Remote</p>
                        <!-- <p class="statustext">MS Information Systems - California State University Long Beach - May 2021
                                <br>BE Computer Science Engineering - RTM Nagpur University - June 2018
                                <br>Full-time Dreamer</p> -->
                        <br>
                        <p>
                            • Authored 600+ how-to, troubleshooting, news, review articles and, media with SEO for TheWindowsClub.com<br> • Developed materials based on Microsoft products and services; and platforms such as Windows, MacOS, and Linux.

                        </p>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col class="twccol">
                <ion-card style="background-color: white;">
                    <ion-card-content>
                        <img src="../../assets/twclogo.png" alt="" srcset="" class="cittimgtag" style="height: 100%; width: 100%;">

                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col class="msftcol">
                <ion-card>
                    <ion-card-content>
                        <h3 class="exphead"><b>Microsoft Corporation</b> &nbsp;
                            <a href="https://insider.windows.com/en-us/mvps/ayush-vij" target="_blank" rel="noopener noreferrer">
                                <ion-icon size="" name="globe"></ion-icon>
                            </a>


                        </h3>
                        <p><strong>Windows Insider MVP</strong> • July 2017 - Present • Redmond, WA (Remote)</p>
                        <!-- <p class="statustext">MS Information Systems - California State University Long Beach - May 2021
                                <br>BE Computer Science Engineering - RTM Nagpur University - June 2018
                                <br>Full-time Dreamer</p> -->
                        <br>
                        <p>
                            • Partnered with a PM on Windows Update team to expand testing for a Windows 10 Update seeding Never released. <br> • Achieved - 1300 upvotes on 200 feedback authored on Feedback Hub with 310 Quests completed since Oct 1st,
                            14. <br> • Explored the What, Why, and Hows of a Microsoft Bot called 'Ruuh' to frame its personality and purpose. <br> • Created a local user group community and evangelized for Microsoft's products and services through meetups.
                            <br> • Presented: Why the Microsoft Insider Programs your secret superpower? Microsoft Ignite The Tour – Dubai in 2019.

                        </p>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col class="cittcol">
                <ion-card style="background-color: white;">
                    <ion-card-content>
                        <img src="../../assets/msftlogo.png" alt="" srcset="" class="cittimgtag" style="height: 100%; width: 100%;">

                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col class="msftcol">
                <ion-card>
                    <ion-card-content>
                        <h3 class="exphead"><b>Microsoft Corporation (SSNA)</b> &nbsp;
                            <a href="https://www.sonata-software.com/alliance/microsoft-alliance" target="_blank" rel="noopener noreferrer">
                                <ion-icon size="" name="globe"></ion-icon>
                            </a>


                        </h3>
                        <p><strong>Technical Consultant</strong> • July 2021 - August 2021 • Los Angeles, CA (Remote)</p>
                        <br>
                        <p>
                            • Consultant to Microsoft Corporation on behalf of Sonata Software North America, building relationships with Microsoft’s Premier Enterprise customers around the premise of Microsoft Teams.

                        </p>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col class="cittcol">
                <ion-card style="background-color: white;">
                    <ion-card-content>
                        <img src="../../assets/msftlogo.png" alt="" srcset="" class="cittimgtag" style="height: 100%; width: 100%;">

                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col class="msftcol">
                <ion-card>
                    <ion-card-content>
                        <h3 class="exphead"><b>California State University Long Beach</b> &nbsp;
                            <a href="https://csulb.edu/parking" target="_blank" rel="noopener noreferrer">
                                <ion-icon size="" name="globe"></ion-icon>
                            </a>


                        </h3>
                        <p><strong>Instructional Student Assistant - GradMentor</strong> • September 2020 - May 2021 • Long Beach, CA</p>
                        <!-- <p class="statustext">MS Information Systems - California State University Long Beach - May 2021
                                <br>BE Computer Science Engineering - RTM Nagpur University - June 2018
                                <br>Full-time Dreamer</p> -->
                        <br>
                        <p>
                            • Participated in one-on-one confidentially logged meetings with mentees to help them professionally and personally.<br> • Built and nurtured a comforting relationship with a mentee, which results in stronger class performance.

                        </p>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col class="csulb1col">
                <ion-card style="background-color: white;">
                    <ion-card-content>
                        <img src="../../assets/CSULB.png" alt="" srcset="" class="cittimgtag" style="height: 100%; width: 100%;">

                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col class="csulb2col">
                <ion-card>
                    <ion-card-content>
                        <h3 class="exphead"><b>California State University Long Beach</b> &nbsp;
                            <a href="https://csulb.edu/parking" target="_blank" rel="noopener noreferrer">
                                <ion-icon size="" name="globe"></ion-icon>
                            </a>


                        </h3>
                        <p><strong>Instructional Student Assistant</strong> • August 2020 - September 2020 • Long Beach, CA</p>
                        <!-- <p class="statustext">MS Information Systems - California State University Long Beach - May 2021
                                <br>BE Computer Science Engineering - RTM Nagpur University - June 2018
                                <br>Full-time Dreamer</p> -->
                        <br>
                        <p>
                            • Assisted Dr. Da Xu with logistics and grading for IS380 - DBMS and IS470 - BI courses.
                        </p>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col class="csulb3col">
                <ion-card style="background-color: white;">
                    <ion-card-content>
                        <img src="../../assets/CSULB.png" alt="" srcset="" class="cittimgtag" style="height: 100%; width: 100%;">

                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col class="msftcol">
                <ion-card>
                    <ion-card-content>
                        <h3 class="exphead"><b>California State University Long Beach</b> &nbsp;
                            <a href="https://csulb.edu/parking" target="_blank" rel="noopener noreferrer">
                                <ion-icon size="" name="globe"></ion-icon>
                            </a>


                        </h3>
                        <p><strong>Digital Content Specialist - Student Assistant</strong> • December 2019 - August 2020 • Long Beach, CA</p>
                        <!-- <p class="statustext">MS Information Systems - California State University Long Beach - May 2021
                                <br>BE Computer Science Engineering - RTM Nagpur University - June 2018
                                <br>Full-time Dreamer</p> -->
                        <br>
                        <p>
                            • Identified the deficiencies in university website and developed an internal portal called MyBeach.<br> • Development new functionality with Microsoft SharePoint, and Fluent Fabric; reduced negative comments by 60%.<br> •
                            Visualized, and managed the social media data using Power BI which resulted in 25% increase in user engagement.<br> • Upgraded the knowledgebase for the Parking and Ops. Chatbot using Microsoft QnA Maker serving >38,000 students.

                        </p>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col class="csulb4col">
                <ion-card style="background-color: white;">
                    <ion-card-content>
                        <img src="../../assets/CSULB.png" alt="" srcset="" class="cittimgtag" style="height: 100%; width: 100%;">

                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col class="msftcol">
                <ion-card>
                    <ion-card-content>
                        <h3 class="exphead"><b>Indus Aviation Systems LLP</b> &nbsp;
                            <a href="http://www.indusaviation.com/" target="_blank" rel="noopener noreferrer">
                                <ion-icon size="" name="globe"></ion-icon>
                            </a>


                        </h3>
                        <p><strong>Software Developer - Intern</strong> • February 2017 - March 2018 • Long Beach, CA</p>
                        <!-- <p class="statustext">MS Information Systems - California State University Long Beach - May 2021
                                <br>BE Computer Science Engineering - RTM Nagpur University - June 2018
                                <br>Full-time Dreamer</p> -->
                        <br>
                        <p>
                            • Coded and deployed a scalable, low-cost task tracking framework for Web (PHP) & Android – ‘SLATrack’ in 7 months.<br> • Got praised by the CEO of the company on coordinating his vision with the team to bring the project to
                            life.

                        </p>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col class="induscol">
                <ion-card style="background-color: white;">
                    <ion-card-content>
                        <img src="../../assets/indus.png" alt="" srcset="" class="cittimgtag" style="height: 100%; width: 100%;">

                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col class="msftcol">
                <ion-card>
                    <ion-card-content>
                        <h3 class="exphead"><b>True Software Scandinavia AB</b> &nbsp;
                            <a href="https://truecaller.com" target="_blank" rel="noopener noreferrer">
                                <ion-icon size="" name="globe"></ion-icon>
                            </a>


                        </h3>
                        <p><strong>Truecrew Brand Ambassador</strong> • February 2015 - January 2016 • Stockholm, Sweden (Remote)</p>
                        <!-- <p class="statustext">MS Information Systems - California State University Long Beach - May 2021
                                <br>BE Computer Science Engineering - RTM Nagpur University - June 2018
                                <br>Full-time Dreamer</p> -->
                        <br>
                        <p>
                            • Enlivened new Windows 10 Mobile APIs (like Cortana) with dev team & leadership to rebuild Truecaller for Windows 10.
                        </p>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col class="tccol">
                <ion-card style="background-color: white;">
                    <ion-card-content>
                        <img src="../../assets/truecaller.png" alt="" srcset="" class="cittimgtag" style="height: 100%; width: 100%;">

                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid>
        <ion-row>
            <ion-col>
                <center>
                    <ion-card class="headingcard" id="PUBLICATIONS" style="background-color: white; max-width: 40%;">
                        <ion-card-content>
                            <h1 class="obj" style="text-align: center; color: black;">PUBLICATIONS</h1>
                        </ion-card-content>
                    </ion-card>
                </center>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-card>
                    <ion-card-content>
                        <center>
                            <h3 class="exphead"><b>19th Annual Security Conference</b></h3>
                            <pre><b>Text-Mining and Visualizations of Phishing Attacks in the Education Sector • 2020</b></pre>
                            <br><br>
                            <p>Comprehensive analysis on phishing emails using Power BI and Python determined that November and December are the least dangerous months in the education sector out of October through December.</p>
                        </center>
                        <br>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col>
                <ion-card>
                    <ion-card-content>
                        <center>
                            <h3 class="exphead"><b>ResearchGate</b></h3>
                            <pre><b>Survey on Advanced Subject Tracking System (SLATrack) • 2018</b></pre>
                            <p>
                                • Surveyed the best practices and implementations of Service Level Agreement with requirement analysis and more.<br> • Developed SLATrack to deliver this concept that showed an increase of 75% in accuracy of task tracking.<br>                                • Won 1st Position at a National Level Paper Presentation Competition organized by IEEE in Nagpur, India.

                            </p>
                        </center>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>




    </ion-grid>


    <ion-grid>
        <ion-row>
            <ion-col>
                <center>
                    <ion-card class="headingcard" id="VOLUNTEERING" style="background-color: white; max-width: 40%;">
                        <ion-card-content>
                            <h1 class="obj" style="text-align: center; color: black;">VOLUNTEERING</h1>
                        </ion-card-content>
                    </ion-card>
                </center>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-card>
                    <ion-card-content>
                        <center>
                            <img src="../../assets/ca.png" style="width: 19.5%;">
                            <h3 class="exphead"><b>The State of California</b></h3>
                            <pre><b>[MyTurn.CA] COVID-19 Vaccination Volunteer • March 2021 - June 2021</b></pre>
                            <p>Providing general support with patient's registration and check-in at AVIVA Pharmacy in Long Beach, CA for COVID-19 Vaccination.</p>
                        </center>
                        <br>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col>
                <ion-card>
                    <ion-card-content>
                        <center>
                            <img src="../../assets/msftlogo.png" style="width: 60%;">
                            <h3 class="exphead"><b>Microsoft Corporation</b></h3>
                            <pre><b>Windows Insider • September 2014 - Present</b></pre>
                            <p>
                                Testing and providing feedback on Windows 10 and Windows 11 BETA builds release by Microsoft.

                            </p>
                        </center>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>



    <ion-grid>
        <ion-row>
            <ion-col>
                <center>
                    <ion-card class="headingcard" id="PROJECTS" style="background-color: white; max-width: 40%;">
                        <ion-card-content>
                            <h1 class="obj" style="text-align: center; color: black;">PROJECTS</h1>
                        </ion-card-content>
                    </ion-card>
                </center>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-card>
                    <ion-card-content>
                        <center>
                            <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                            <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_uhIxIg.json" background="transparent" speed="1" style="width: 70%; height: 70%;" autoplay></lottie-player>
                            <h3 class="exphead"><b>shipMe</b></h3>
                            <pre><b>Git, Ionic Framework [Angular] and Google Firebase • November 2020 - May 2021</b></pre>
                            <p>Building an app and a website which work together with AWS to help a user ship anything for cheaper price, worldwide with a practical business plan.</p>
                        </center>
                        <br>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col>
                <ion-card>
                    <ion-card-content>
                        <center>
                            <img src="../../assets/doge.png" style="width: 42.5%;"><br>
                            <h3 class="exphead"><b>Dogecoin Investment Web Ledger</b></h3>
                            <pre><b>Git, HTML5, CSS3, Javascript, JQuery, and JSON  • May 2021</b></pre>
                            <p>
                                Built a web app view and manage a ledger of Dogecoin transaction with various metrics like total investment and the Profit/Loss details in USD.

                            </p>
                        </center>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col>
                <ion-card>
                    <ion-card-content>
                        <center><br>
                            <img src="../../assets/jiomeet.png" style="width: 20%;"><br><br><br>
                            <h3 class="exphead"><b>JioMeet Mockup</b></h3>
                            <pre><b>Windows Insider • September 2014 - Present</b></pre>
                            <p>
                                Designed a new mockup for the JioMeet conferencing app for Android using Figma and Adobe XD.

                            </p>
                        </center>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col>
                <ion-card>
                    <ion-card-content>
                        <center>
                            <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                            <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_EHugAD.json" background="transparent" speed="1" style="width: 60%; height: 60%;" loop autoplay></lottie-player>
                            <h2><b>Customer Management Systems</b></h2>
                            <pre><b>Bootstrap and Python [Flask] • November 2019</b></pre>
                            <p>
                                Built a basic Customer Management System webpage with CRUD operations.

                            </p>
                        </center>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col>
                <ion-card>
                    <ion-card-content>
                        <center><br><br>
                            <img src="../../assets/slatrack.png" style="width: 60%;"><br><br>
                            <h3 class="exphead"><b>SLATrack</b></h3>
                            <pre><b>Bootstrap, PHP, Java, and Android Studio • 2017 - 2018</b></pre>

                            <p>
                                Programmed a low-cost task tracking framework consisting of Android and web apps as a part of internship project.

                            </p>
                        </center>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>



    <ion-grid>
        <ion-row>
            <ion-col>
                <center>
                    <ion-card class="headingcard" id="CERTIFICATIONS" style="background-color: white; max-width: 40%;">
                        <ion-card-content>
                            <h1 class="obj" style="text-align: center; color: black;">CERTIFICATIONS</h1>
                        </ion-card-content>
                    </ion-card>
                </center>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-card class="">
                    <ion-card-content>
                        <center>
                            <!-- <div class="linkedindiv"> -->
                            <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                            <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_hwvh0smy.json" background="transparent" speed="0.3" style="width: 20px; height: 20px;" autoplay loop></lottie-player>
                            <!-- </div> -->
                            <pre><b>Agile Software Development</b></pre>
                        </center>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col>
                <ion-card>
                    <ion-card-content>
                        <center>
                            <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                            <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_hwvh0smy.json" background="transparent" speed="0.3" style="width: 20px; height: 20px;" autoplay loop></lottie-player>
                            <pre><b>Cert Prep: Project Management Professional (PMP)</b></pre>
                        </center>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col>
                <ion-card>
                    <ion-card-content>
                        <center>
                            <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                            <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_hwvh0smy.json" background="transparent" speed="0.3" style="width: 20px; height: 20px;" autoplay loop></lottie-player>
                            <pre><b>Business Analysis Foundations</b></pre>
                        </center>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-card>
                    <ion-card-content>
                        <center>
                            <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                            <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_hwvh0smy.json" background="transparent" speed="0.3" style="width: 20px; height: 20px;" autoplay loop></lottie-player>
                            <pre><b>Software Requirement Engineering</b></pre>
                        </center>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col>
                <ion-card>
                    <ion-card-content>
                        <center>
                            <img src="../../assets/newibm.gif" style="width: 10%; height: 6%;">
                            <pre><b>IBM: Enterprise Design Thinking Practitioner</b></pre>
                        </center>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col>
                <ion-card>
                    <ion-card-content>
                        <center>
                            <img src="../../assets/newibm.gif" style="width: 10%; height: 6%;">
                            <pre><b>IBM: Enterprise Design Thinking - Team Essentials for AI Business</b></pre>
                        </center>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-card>
                    <ion-card-content>
                        <center>
                            <img src="../../assets/newibm.gif" style="width: 10%; height: 6%;">
                            <pre><b>IBM: Enterprise Design Thinking Co-Creator</b></pre>
                        </center>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col>
                <ion-card>
                    <ion-card-content>
                        <center>
                            <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                            <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_hwvh0smy.json" background="transparent" speed="0.3" style="width: 20px; height: 20px;" autoplay loop></lottie-player>
                            <pre><b>Fundamentals for Customer Success Managers</b></pre>
                        </center>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col>
                <ion-card>
                    <ion-card-content>
                        <center>
                            <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                            <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_hwvh0smy.json" background="transparent" speed="0.3" style="width: 20px; height: 20px;" autoplay loop></lottie-player>
                            <pre><b>Microsoft SQL Server 2019 Essential Training</b></pre>
                        </center>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>



    <!--KEYWORDS DIV-->

    <ion-grid>
        <ion-row>
            <ion-col>
                <center>
                    <ion-card class="headingcard" id="KEYWORDS" style="background-color: white; max-width: 40%;">
                        <ion-card-content>
                            <h1 class="obj" style="text-align: center; color: black;">KEYWORDS</h1>
                        </ion-card-content>
                    </ion-card>
                </center>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-card class="">
                    <ion-card-content>

                        <p><b>Technical Proficiencies:</b> Python, PHP, CakePHP, Bootstrap, HTML5, CSS3, JavaScript, Typescript, SQL, Microsoft (MS) SQL Server, Ionic Framework, Git, WordPress, Drupal, BugZilla, MS Power BI, Tableau, MS PowerApps, MS Visio,
                            MS Azure, Adobe Creative Cloud, TweetDeck, Hootsuite, Buffer, and Sprout Social.</p>

                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col>
                <ion-card class="">
                    <ion-card-content>

                        <p><b>Business Proficiencies:</b> Problem Solving, Agile Methodologies, Strategy Development, Business Requirements, Business Analysis, Requirement Analysis, Business Process, Relationship Building, Deal Execution, and User Acceptance
                            Testing.
                        </p>

                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
    <!-- 
    Profificents

    <ion-grid>
        <ion-row>
            <ion-col>
                <center>
                    <ion-card class="headingcard" id="KEYWORDS" style="background-color: white; max-width: 40%;">
                        <ion-card-content>
                            <h1 class="obj" style="text-align: center; color: black;">Skills</h1>
                        </ion-card-content>
                    </ion-card>
                </center>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-card style="max-height: 50%; max-width: 50%;">
                    <ion-card-content>
                        <center>
                            <img src=" ../../assets/python.png" height=40%; width=50%;>
                            <pre>Python and Flask</pre>
                        </center>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col>
                <ion-card style="max-height: 50%; max-width: 50%;">
                    <ion-card-content>
                        <center>
                            <img src="../../assets/Web.png " height=40%; width=50%;>
                            <pre>HTML5, CSS3, and Javascript</pre>
                        </center>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-card class=" ">
                    <ion-card-content>
                        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js "></script>
                        <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_7aq7s6rs.json " background="transparent " speed="0.5 " style="width: 300px; height: 100px; " loop autoplay></lottie-player>
                        <p>PHP and CakePHP</p>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>

    </ion-grid> -->

    <!--Footer-->
    <center>
        <div class="bar bar-footer bar-assertive">
            <!-- <pre>Designed 🎨 and Developed ⚙️ with 💗 by Ayush Vij | Copyright 2021 Ayush Vij </pre> -->
            <pre>DESIGNED 🎨 AND DEVELOPED ⚙️ WITH 💗 BY AYUSH VIJ | 2021 | SOURCE AT GITHUB UNDER MIT LICENSE </pre>
        </div>
    </center>
</ion-content>