ion-content {
    font-family: Arial, Helvetica, sans-serif;
}

.obj {
    padding-top: 0px;
    padding-bottom: 0px;
    word-wrap: break-word;
    font-family: 'Arial white', arial;
    // color: white;
    text-decoration: none;
    font-weight: bolder;
    font-size: 25px;
    font-style: italic;
}

.navlinks {
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Arial white', arial;
    color: white;
    text-decoration: none;
    font-weight: bolder;
    font-size: 25px;
    font-style: italic;
}

#navbar-primary.navbar-default {
    background: transparent;
    border: none;
    // padding-top: 20%;
}

.navbar-nav {
    padding-top: 5px;
}

.navbar-nav {
    width: 100%;
    text-align: center;
}

li {
    display: inline-block;
    float: none;
}

.photocard {
    width: 90%;
    height: 92%;
}

a {
    color: white;
    text-decoration: none;
}

// a:hover {
//     color: black;
//     text-decoration: none;
// }
.meimgtag {
    padding-top: 7%;
    // align-items: flex-end;
}

.textcol {
    // align-items: flex-start;
}

.photocol {
    // text-align-last: right;
    max-width: 20%;
    padding-top: 50px;
}

.hicard {
    padding-top: 50px;
    width: 75%;
    // vertical-align: right;
}

ion-col {
    // border: 5px solid !important;
    // max-width: 20%;
}

.hihead {
    font-size: 40px;
}

.exphead {
    font-size: 25px;
    color: white;
}

.expcol {
    padding-top: 20px;
}

.socialicons {
    padding-right: 20px;
}

.cittcol {
    max-width: 20%;
    padding-top: 50px;
}

.twccol {
    max-width: 20%;
    padding-top: 20px;
}

.twcol {
    padding-top: 5%;
}

.msftcol {
    padding-top: 0%;
}

.csulbcol {
    padding-top: 1.8%;
    max-width: 20%;
}

.csulb1col {
    padding-top: 1%;
    max-width: 20%;
}

.csulb2col {
    padding-top: 2.7%;
}

.induscol {
    max-width: 20%;
    padding-top: 3%;
}

.tccol {
    max-width: 20%;
    padding-top: 2.3%;
}

h3 {}

.csulb3col {
    max-width: 20%;
    padding-top: 2.7%;
}

.csulb4col {
    max-width: 20%;
    padding-top: 2.7%;
}

.agilecard:hover {
    height: 200%;
}

ion-card:hover {
    background-color: white;
    color: black !important;
    transition: 1.5s;
}

ion-card:hover .exphead {
    color: black !important;
    transition: 1.5s;
}

ion-card:hover a {
    color: black !important;
    transition: 1.5s;
}